.watermelon {   
   background: url(img/background/watermelon.svg);
}
.lid {   
   background: url(img/background/lid.svg);
}
.garncek {   
   background: url(img/background/Garncek.svg);
}
.baguettes {   
   background: url(img/background/baguettes.svg);
}
.cheese {   
   background: url(img/background/cheese.svg);
}
.cutlery {   
   background: url(img/background/cutlery.svg);
}
.burger {   
   background: url(img/background/Burger.svg);
}
.grapes {   
   background: url(img/background/grapes.svg);
}
.kuciak {   
   background: url(img/background/Kuciak.svg);
}
.glass {   
   background: url(img/background/glass.svg);
}
.spatula {   
   background: url(img/background/spatula.svg);
}
.donut {   
   background: url(img/background/donut.svg);
}
.pizza {   
   background: url(img/background/pizza.svg);
}
.jajo {   
   background: url(img/background/Jajo.svg);
}
.hot-dog {   
   background: url(img/background/hot-dog.svg);
}
.cherrys {   
   background: url(img/background/cherrys.svg);
}
.koszyk {   
   background: url(img/background/koszyk.svg);
}