@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gloria+Hallelujah&display=swap');
@import url(icons.css);

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;

  /* Color variables */
  --backgroung: #E6D5B4;
  --backgroung-detail: #C5A042;
  --tile-bg: #F5F3F1;
  --egg-color: #D5AE4C;
  --egg-detail-color: #E4E4E4;
  
  /* Font familys variables */
  --header-font: 'Fredericka the Great', cursive;
  --default-font: 'Gloria Hallelujah', cursive;
}
body {
  margin: 0;
  background-color: var(--backgroung);
  font-family: var(--default-font);
}



/*** --- Background styles --- ***/

.background {
  position: absolute;
  left: -25px;
}
.bg-row {
  display: flex;
}
.bg-elem {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
}
.rotating-stuff {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: 65%;
}
.rotating-stuff .icon {
  position: absolute;
  width: 33%;
  height: 33%;
  background-size: 87.5%;
  animation: icon-rotate 90s linear infinite;
}
.brand-name {
  width: 100%;
  height: 100%;
  background: url(img/background/brand-text.svg);
  background-size: cover;
  animation: text-rotate 180s linear infinite;
}

@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}
@keyframes text-rotate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(-360deg);
  }
}